<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.labsmanage">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/my_ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/my_ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LabsManage">
        <activity android:name=".MoreActivity" />
        <activity
            android:name=".RecordsActivity"
            android:theme="@style/Theme.EquiActivity" />
        <activity
            android:name=".LabActivity"
            android:theme="@style/Theme.EquiActivity" />
        <activity
            android:name=".EquiActivity"
            android:theme="@style/Theme.EquiActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivityN">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>